@import "@fortawesome/fontawesome-free/css/all.css";
@import "node_modules/bootstrap/scss/bootstrap";
$bleufonce: #1d3b3a;
$vert: #377a6c;
$vertclaire: #accdb1;
$orange: #f25a38;
$font: verdana;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
}

main {
  width: 600px;
  height: 300px;
  border: 1px solid lightgray;
  margin: auto;
  margin-top: 100px;
}

h2, p, input  {
  font-family: $font;
  text-align: justify;
}
h2 {
  margin-top: 10px;
}
#bouton {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  bottom: 5px;
  left: 350px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
    background-color: $vert;
    color: white;
    text-align: center;
    display: block;

}

#boutonResult {
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
      width: 200px;
      height: 40px;
      border-radius: 20px;
      border: 1px solid white;
      cursor: pointer;
      background-color: #f25a38;
      color: white;
      text-align: center;
      display: block;
  
  
}

.parQst {
  background-color: #accdb1;
  margin: 10px 0 10px 0;
  height: 50px;
  line-height: 50px;
  padding-left: 5px;
}
.marg {
  margin-left: 20px;
}
// new
.flex {
  display: flex;
}
.spaceAround {
  justify-content: space-around;
}
.flex-end {
  justify-content: flex-end;
}
.center {
  justify-content: center;
}
.alignself {
  align-self: flex-end;
}
.majuscule {
  text-transform: uppercase;
}


// barre nav
nav {
  background-color: $vert;
  text-decoration: unset;
  height: 50px;
  padding: 2px;
  ul {
    align-items: center;
    line-height: 50px;
     
    li {
      list-style: none;
      align-self: center;
      color: $vertclaire;
      font-family: $font;

    }
  }
}

a:link 
{ 
 text-decoration:none; 
} 

a:visited {
  text-decoration:none; 
  background-color: $vert;
  color: $vertclaire;
  font-family: $font;

}

a:hover {
  text-decoration: underline overline white;

}

a:active {
  background-color: white;
  color: $vert;

}


.resultat {
  height: 500px;
  width: 1000px;
  background-color: $bleufonce;
  position: absolute;
  top: 120px;
  left: 200px;
  .photoResultat {
    width: 250px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 100px;
  }
  .text {
    width: 1000px;
    height: 430px;
    background-color: $vertclaire;
    position: relative;
    top: 170px;
    left: 130px;
    h2 {
      font-family: $font;
      text-align: justify;
      margin: 30px;
    }
    p {
      font-family: $font;
      text-align: justify;
      margin: 30px;
    }
  }
}

footer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 710px;
  h3 {
    font-family: $font;
    color: $bleufonce;
    margin: 30px;
  }
  .card-body {
    background-color: $vertclaire;
    img {
      height: 500px;
    }
    h5 {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

